.navigasi:any-link {
    color:deeppink
}
.navigasi:visited {
    color:lightpink
}
.navigasi:hover {
    background-color:black;
    color:fuchsia
}
.navigasi:active {
    color:hotpink;
}
ul li a:link {
    color:red;
}
ul li a:hover {
    background-color:rgb(182, 224, 30);
    color:rgb(233, 59, 15);
}