table{
    margin:50px auto;
    border-spacing: 0px;
    border-collapse: collapse;/*agar border sama rata*/
}
th{
    background-color:palevioletred;
    color:white;
    padding: 10px;
    border:1px solid black;
}
td{
    padding:10px;
    border-bottom: 1px solid palevioletred;
}
tr:nth-child(even){
    background-color: pink;
    color:white;
}
td{
    padding: 10px;
    border:1px solid palevioletred;
}
tr:nth-child(even){
    background-color: pink;
    color: black;
}

